img > .img-fluid{
    max-width: 100%;
    height: auto;
    padding-top: 2rem;
    margin: auto;
    display: block;
}

button{
    border-radius: 10px !important;
}
@media (max-width: 768px){
    img > .img-fluid{
        max-width: 90% !important;
    }
}
@media (min-width: 769px){
    img > .img-fluid{
        max-width: 90% !important;
    }
}
